.sidebarList .row {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 58px;
    list-style-type: none;
    margin: 0;
    color: black;
    align-items: center;
    font-weight: var(--text-weight);
    margin: 16px;
}

.row {
    margin: 0 !important;
}

.sidebarList:hover .row:hover {
    cursor: pointer;
    background-color: #625B71;
    color: #1D1B20;
    height: 58px;
    width: 90%;
    border-radius: 38px;
}

.row:hover {
    opacity: var(--hover-opacity);

}

.sidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.active {
    background-color: #6750A4;
    /* background-color: #6750A4; */
    border-radius: 38px;
}

.inactive {
    background-color: transparent;
    /* border: 2px solid red; */
}