.container {
    width: 50%;
    height: auto;

    background: rgb(236, 205, 81);
    border-radius: 10px;
    margin: 3px;
}

.scrim {
    width: 500px;
    height: 700px;
    background: rgb(123, 123, 196);
}

.header-size-small {
    font-size: small;
}

.header-size-medium {
    font-size: medium;
}

.header-size-large {
    font-size: large;
}

.drawerItem {
    display: flex;
    background-color: rgb(97, 200, 130);
    border-radius: inherit;
    margin: 4px;
    justify-content: space-around;
}

.badge {
    position: relative;
    left: 40px;
}