.sidebar {
    height: 100vh;
    /* width: var(--drawer-width); */
    width: 100%;
    background-color: var(--color-surface);
    /* border-radius: 3% 3% 0 0; */
    border-radius: 3% 3% 3% 3%;

    margin-top: 0.3em;
    margin-left: 0.3em;
    /* font-family: 'Roboto'; */
}

.toggle {
    /* position: fixed; */
    position: relative;
    left: 1.5em;
    top: 30px;
    width: 50px;
    height: 34px;
    cursor: pointer;
    z-index: 100;
    background: transparent;
    margin-bottom: 3em;
    border: none;
    /* border: 1px solid red; */

}

.hideButton {
    display: none;
}

/* .sidebarOpen {
    animation: sidebarEnter 0.3s forwards;
}

.sidebarClosed {
    animation: sidebarExit 0.3s forwards;
}

@keyframes sidebarEnter {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes sidebarExit {
    from {
        opacity: 1;
        transform: translateX(0%);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
} */