.navbar {
    display: flex;
    flex-direction: column;
    font-family: var(--default-font);
    width: var(--drawer-width);
    transition: width 0.3s ease;
    height: 100vh;
    z-index: 10;
}

.collapsedbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--default-font);
    width: var(--collapse-width);
    transition: width 0.3s ease;
    height: 100vh;
}

.scrim {
    position: absolute;
    background-color: var(--background-scrim);
    height: 100%;
    width: 100%;
    opacity: var(--scrim-opacity);
    padding: 10px;
    z-index: -10;
}


.showScrim {
    display: flex;
    height: 100vh;
}

.closeScrim {
    display: none;
}