.multiItem {
    overflow: hidden;
    max-height: 0;
    padding-left: 10px;
}


.multiItemClose {
    display: block;
    max-height: 0;
    animation: slideUp 0.5s ease forwards;
}

.multiItemShow {
    display: block;
    animation: slideDown 0.5s ease forwards;

}

@keyframes slideDown {
    from {
        max-height: 0;
    }

    to {
        max-height: 1000px;
    }
}

@keyframes slideUp {
    from {
        max-height: 1000px;
    }

    to {
        max-height: 0px;
    }
}