.sidebarList {
    list-style-type: none;
    color: black;
    font-weight: var(--text-weight);
    margin: 0 0 3px 0;
    width: 100%;
    margin-top: 20px;
    height: auto;
    padding: 0;
    /* transition: width 0.3s ease; */
}


.sidebarListCollapsed {
    width: var(--collapse-width);
    margin: 0;
    padding: 0;
}