:root {
    --std-h: 32px;
    --std-w: 52px;
    --std-br: 28px;
    --std-scircle: 16px;
    --std-mcircle: 24px;
    --std-lcircle: 28px;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 70px;
    height: 50px;
    border: none;
}

.track {
    position: absolute;
    display: flex;
    align-items: center;
    width: var(--std-w);
    height: var(--std-h);
    border: 2px solid #79747e;
    background-color: #E6E0E9;
    border-radius: 20px;

}

.handle {
    width: var(--std-scircle);
    height: var(--std-scircle);
    border-radius: 50%;
    background-color: #79747e;
    position: relative;
    left: 2px;
    /* transition: all 0.4 ease; */
}

.handleIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: var(--std-mcircle);
    border-radius: 50%;
    background-color: #79747e;
    position: relative;
    left: 2px;
    /* transition: all 0.4 ease; */
}

.handle:hover {
    box-shadow: 0 0 0 5px rgba(121, 116, 126, 0.08);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--std-scircle);
    height: var(--std-scircle);
}

.icon {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: transparent;
    fill: green;
    z-index: 10;

}

.checkbox {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
}

.translateHandle {
    animation: translateHandle 400ms forwards;
}

.translateBackHandle {
    animation: translateBackHandle 800ms forwards;
}

.trackActive {
    animation: trackActive 400ms forwards;
}


.activeShrink,
.deactiveShrink {
    animation: shrink 400ms forwards;
}

.growActivateHandle {
    animation: growActiveHandle 400ms forwards;
}

.deactiveIcon {
    width: var(--std-lcircle);
    height: var(--std-lcircle);
}

@keyframes translateHandle {
    0% {
        width: var(--std-lcircle);
        height: var(--std-lcircle);
        background-color: #79747e;
        left: 0px;
    }

    25% {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--std-lcircle);
        height: var(--std-lcircle);
        background-color: #79747e;
        left: 6px;
    }

    50% {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--std-lcircle);
        height: var(--std-lcircle);
        background-color: #E6E0E9;
        left: 12px;
    }

    100% {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        left: 30px;
    }
}


@keyframes translateBackHandle {
    0% {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--std-lcircle);
        height: var(--std-lcircle);
        background-color: #FFFFFF;
        left: 24px !important;
    }

    50% {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        background-color: #79747e;
        left: 12px !important;
    }

    100% {
        background-color: #79747e;
        left: 0px !important;
    }
}



@keyframes trackActive {
    from {
        background-color: #79747e;
    }

    to {
        background-color: #52c41a;
    }
}

@keyframes shrink {
    from {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--std-lcircle);
        height: var(--std-lcircle);
        background-color: #FFFFFF;
        left: 0;
    }

    to {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--std-mcircle);
        height: var(--std-mcircle);
        background-color: #FFFFFF;
        left: 24px;
    }
}

@keyframes growActiveHandle {
    from {
        width: var(--std-mcircle);
        height: var(--std-mcircle);
        background-color: #FFFFFF;
        left: 24px;
    }

    to {
        width: var(--std-lcircle);
        height: var(--std-lcircle);
        background-color: #FFFFFF;
        left: 24px;
    }
}