.appCounter {
    --error: red;
    --valid: blue;
}

.input {
    --state: var(--error);
    border: 1px solid var(--state);
}

.valid {
    --state: var(--valid);
}

.msg {
    font-weight: 600;
    color: var(--error);
}

.hide {
    display: none;
}

/* .animatedDisplay {
    border: 1px solid black;
    animation: 3s alternate slidein;
}
*/

.animatedDisplay {
    border: 1px solid black;
    width: 100px;
    animation: none;
}

.slidein {
    animation: slidein 4s alternate;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100px;
    }

    to {
        margin-left: 0%;
        width: 100px;
    }
}


/* 04/26 */

.list {
    border: 1px solid red;
    /* background-color: aqua; */
}