.odoDigit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.digit {
    position: relative;
    display: inline-block;
}

.flip {
    animation: pulsate 0.2s ease-in-out;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}